body{
    background-color: rgb(217, 207, 232);
}

.container{
    width: 100%;
}

.a{
    text-size-adjust: 90px;

}
#Canciones{
    
    margin-top: 70px;
}
#Albums-nousar{
   
    margin-top: 70px;

}
#artistas{
    margin-bottom:70px;
    margin-top: 70px;


}
 .cajas ul li a{
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        margin-left: 50px;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: transparent;
        height:200px;
        padding: 20px;
        width: 200px;
        color: black;
        border-radius: 50%;   
        align-items: flex-start;
        font-weight: bold;
 }


.cajas ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 125px;
    margin-right: 80px;
    marker-mid: 100%;
    list-style: none;
    width: 1180px;
    font-size: medium;
    padding-right: 0px;
    padding-left: 0px;
    gap: 20px;
    

}

.main-footer{
    margin-top: 30px;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: space-between;
    
}
.main-footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style: none;
    width: 100%;
    
  
}
.main-footer li{
    display: flex;
    flex-direction: column;
    background-color: black;
    border-color: white;
    margin-bottom: 0px;

   
    
    
}
.main-footer li a{
    color: white;
    text-decoration: none;
    margin: auto;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding-bottom: 0px;
    justify-content: center;            
    display: block;
    color: white;  
    text-align: center;
    padding: 16px;
    text-decoration: none;
    list-style: none;

}

.logo{
    width: 180px;
    padding-top: 15px;
}

.deezer{
    width: 100px;
}
.nombres a{
    display: flex;
    flex-direction: column;

    color: white;
    margin-right: 15px;
    text-decoration: none;
   text-align: center;

}
.card-body{
    background-color:black;
    color: white;
    
}
.cajasd-flex{
    color: black;
}







